/StoreWebService/nbproject/private/
/StoreWebService/build/
/StoreWebService/dist/
/ShopDataAccess/dist/
/DatabaseToCsv/nbproject/private/
/ShopService/nbproject/private/
/ShopService/build/
/ShopService/dist/